html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/*logo banner*/
.header-container {
  display: inline-flex;
  margin-top: 1rem;
  align-items: flex-start;
  background-color: cadetblue;
  width: 960px;
  height: 3rem;
  align-self: flex-start;
}

.company-banner {
  display: inline-flex;
  color: white;
  height: 3rem;
  padding: 1rem 2rem;
}

.company-logo {
  display: inline-flex;
  align-items: flex-start;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.name {
  font-size: 1rem;
}

.company-logo nav {
  display: inline-flex;
  align-content: flex-end;
  justify-content: space-between;
}

.company-logo nav a{
  color: white;
}

/*main banner*/
.main-banner {
    background-image: url("../images/glasses-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.tagline {
  display: flex;
  background-color: white;
  color: black;
  height: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  margin-top: 14rem;
}

.tagline-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
